.about-container{
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 4rem;
    text-align: center;
}

.about-img{
    width: 150%;
    border-radius: 2rem;
    justify-self: center;
}

.about-description{
    padding: 0 4rem 0 0;
    margin-bottom: var(--mb-2-5);
}

@media screen and (max-width: 992px) {
    .about-container{
        grid-template-columns: 1fr;
        row-gap: 2.5 rem;
    }
    .about-img{
        width: 500px;
    }
    .about-description{
        padding: 0 5rem;
        margin-bottom: 2rem;
    }
    
  }



  @media screen and (max-width: 576px){
    .about-description{
        padding: 0;
    }
    .about-img{
        width: 350px;
    }
  }
  
  @media screen and (max-width: 350px) {
    .about-img{
        width: 200px;
    }
  }